@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #d2b48c;
    white-space: pre;
    font-family: 'Delicious Handrawn', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#userInformation {
    display: block;
    width: 100%;
    white-space: pre;
    font-size: 1em;
    text-align: center;
    width: 100%;
}

#input {
    text-align: center;
    width: 75vw;
    height: 25%;
    border-radius: 4vw;
    border: 1vw solid #B89D7B;
    font-size: 2.2em;
    max-height: 10%;
    min-height: 8%;
    will-change: transform;
}

#input:focus {
    border: 1vw solid #DEBE95;
}


@media (max-width: 900px) {
    #input {
        font-size: 1.9em;
    }
}

@media (max-width: 700px) {
    #input {
        font-size: 1.5em;
    }
}

#submit {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 75vw;
    will-change: transform;
    margin-top: 2%;
}

#submit:disabled {
    pointer-events: none;
}

#submit:hover {
    color: #fff;
    background-color: #B89D7B;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

#submit:active {
    box-shadow: none;
    transform: translateY(0);
}